.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 84px 120px 124px;
}

.filters {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  margin-bottom: 56px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-bottom: 80px;
}

.mileageGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mileageLabel {
  font-size: 12px;
  font-weight: 400;
  line-height: 133%;
  color: var(--gray);
}

.mileageInputs {
  display: flex;
}

.mileageInput {
  width: 160px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  background: var(--inputs);
  border: 1px solid var(--gray-light);
  outline: none;
}

.mileageInput::placeholder {
  color: var(--main);
}

.mileageInput:first-child {
  border-radius: 12px 0 0 12px;
  border: none;
  border-right: 1px solid var(--gray-light);
}

.mileageInput:last-child {
  border-radius: 0 12px 12px 0;
  border: none;
}

.empty {
  text-align: center;
  font-size: 18px;
  color: var(--gray);
  padding: 80px 0;
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
}
