.wrapper {
  padding: 32px;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  background: var(--white);
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 14px 20px;
  font-weight: 500;
  line-height: 125%;
  font-size: 16px;
  color: var(--main);
  background: var(--inputs);
  border: none;
  border-radius: 12px;
  outline: none;
}

.input::placeholder {
  color: var(--gray);
}

.textarea {
  border-radius: 12px;
  padding: 12px 20px 56px;
  min-height: 88px;
  resize: vertical;
}

.sendBtn {
  align-self: center;
  padding: 12px 51px;
  background-color: var(--button);
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 8px;
}

.sendBtn:hover {
  background-color: var(--button-hover);
}
